.subscribe-button {
  background-color: rgba(255, 0, 0, 0.91);
  color: white;
  border: none;
  height: 50px;
  width: 160px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  }
.subscribe-button:hover {
      background-color: green
  }
.subscribe-button:hover {
  opacity : 1;  
}
.subscribe-button:active{
  background-color: rgb(12, 12, 217)
  }
.subscribe-button:active{
  opacity:1;
  }

  .join-button {
      background-color: white (218, 219, 224, 0.581);
  color: rgb(41, 21, 152);
  border: rgb(24, 14, 14);
  height: 40px;
  width: 130px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  transition:background-color 1s,
  color 1s;
  }
.join-button:hover {
  background-color:yellow
}
  .tweet-button {
      background-color: rgba(6, 167, 241, 0.91);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 10px;
  }
  .tweet-button:hover {
      box-shadow: 10px 10px 10px   rgb(0, 0, 0);
  }
  .mychannel-button {
      background-color: rgba(217, 255, 0, 0.91);
  color: black;
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;

  }
  .mychannel-button:hover{
  box-shadow: 10px 10px 10px  black;
  }
 